.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbarLink {
  font-size: 2rem;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 20px;
}

.navbarLink:hover {
  text-decoration: underline;
}

.navbarLink__dark {
  composes: navbarLink;
  color: var(--fg_dark);
}

.navbarLink__light {
  composes: navbarLink;
  color: var(--fg_light);
}
